.clear {
    clear: both;
}

.join-colom {
    height: 100vh;
    font-weight: bold;
}
.join-box {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}
.join-judul {
    margin-bottom: 50px;   
}
.join-judul h3 {
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
}
.join-kiri {
    float: left;
}
.join-kanan {
    float: left;
}