@charset "utf-8";
/* CSS Document */

*{
	margin:0 auto;
	padding:0;
	font:Arial, Helvetica, sans-serif;
	max-width:100% !important; /*--- responsive1 ---*/
}
.clear{
	clear:both;
}
.judul{
	width:100%;
	height:10%;
	float:left;
	text-align:center;
	font-size:xx-large;
	color:#0a1832;
	line-height:100px;
	font-weight:bolder;
}
.tombol2{
	width:100%;
	height:100px;;
	float:left;
}
.tombol2 img{
	width:50px;
	height:60px;
	padding-top:20px;
	display:block;
	margin:auto;
}

/*header*/
#header{
	position:fixed;
	height:14%;
	width:100%;
	background:#FFF;
}
#header .logo{
	float:left;
	width:30%;
	height:100%;	
}
#header .logo img{
	margin-top: 5%;
	margin-left:35%;
	width:50%;
	height:60%;
}
#header .menu{
	float:left;
	width:70%;
	height:100%;
	margin-top: 2%;
	background:#03Fl;
}
#header .menu ul{
	margin-right:10%;	
	text-align:right;
}
#header .menu li{
	list-style-type:none;
	display:inline;
}
#header .menu li a{
	text-decoration:none;
	font-size:1em;
	color:#0a1832;
	font-weight:bolder;
	margin-left:3%;
	margin-bottom:2%;
}
#header .menu li a.active{
	border-bottom: 2px #0a1832 solid;
}
#header .menu li a:hover{
	border-bottom: 2px #0a1832 solid;
}

/*slide gambar*/
#preview{
	width:100%;
	height:300%;
	float:left;
}
#preview img{
	width:100%;
	height:300%;
	float:left;
	display:block;
	margin:auto;
}

/*layanan*/
#layanan{
	width:100%;
	height:250%;
	float:left;
}
#layanan .judull{
	width:100%;
	height:100%;
	float:left;
	background:#eeeff1;
	text-align:center;
	font-size:xx-large;
	color:#0a1832;
	line-height:100px;
	font-weight:bolder;
}
#layanan .listl{
	width:100%;
	float:left;
	margin:auto;
}
#layanan .listl .box1{
	width:90%;
	margin:auto;
	text-align:center;
}
#layanan .listl .box1 .box2{
	width:30%;
	height:100%;
	margin:1%;
	display:inline-block;
}
#layanan .listl .box1 .box2 .gambar{
	width:100%;
	height:40%;
	float:left;
	margin:auto;
}
#layanan .listl .box1 .box2 .gambar img{
	width:40%;
	height:80%;
	padding-top:5%;
	margin:auto;
	display:block;
}
#layanan .listl .box1 .box2 .gambar img:hover{
	
}	
#layanan .listl .box1 .box2 .jdl{
	width:100%;
	height:30px;
	float:left;
	text-align:center;
	color:#0a1832;
	font-size:27px;
	font-weight:bolder;
	margin-top:10px;
}
#layanan .listl .box1 .box2 .desk{
	width:100%;
	height:50px;
	float:left;
	text-align:center;
	color:#7d7d7d;
	font-size:15px;
	font-weight:bold;
	margin-top:5px;
}
#layanan .listl .box1 .box2 .desk h1{
	font-size:28px;
}
#layanan .listl .box1 .box2 .pencet{
	width:100%;
	height:50px;
	float:left;
	margin:auto;
}
#layanan .listl .box1 .box2 .pencet input[type=button]{
	width:150px;
	height:40px;
	background:#0a1832;
	color:#FFF;
	font-weight:bolder;
	border-radius:10px;
	margin:auto;
	display:block;
	border:none;	
}
#layanan .listl .box1 .box2 .pencet input[type=button]:hover{
	opacity: 0.8;
	cursor:pointer;
	box-shadow:1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
#next2{
	height:45px;
	width:100%;
}


/*portofolio*/
#portofolio{
	width:100%;
	height:80%;
	float:left;	
	background:#eeeff1;
}
#portofolio .galeripbox{
	width:90%;
	margin:auto;
}
#portofolio .galerip{
	width:595px;
	height:540px;
	float:left;
	display:inline-block;
}
#portofolio .galerip .atas{
	width:585px;
	height:265px;
	background:#c9c9cb;
	margin:5px;
	background-image:url(pictures/noimage.png);
	background-repeat:no-repeat;
	background-position:center;
}
#portofolio .galerip .atas img{
	width:100%;
	height:100%;
}
#portofolio .galerip .bawah{
	width:285px;
	height:255px;
	background:#c9c9cb;
	display:inline-block;
	margin:5px;
	background-image:url(pictures/noimage.png);
	background-repeat:no-repeat;
	background-position:center;
}
#portofolio .galerip .bawah img{
	width:100%;
	height:100%;
}
#portofolio .galerip2{
	width:300px;
	height:540px;
	float:left;
	display:inline-block;
}
#portofolio .galerip2 .boxna{
	width:290px;
	height:530px;
	margin:5px;	
	background:#c9c9cb;
	background-image:url(pictures/noimage.png);
	background-repeat:no-repeat;
	background-position:center;
}
#portofolio .galerip2 .boxna img{
	width:290px;
	height:530px;
}

#portofolio .galerip3{
	width:310px;
	height:540px;
	float:left;
	display:inline-block;
}
#portofolio .galerip3 .atas{
	width:295px;
	height:370px;
	background:#c9c9cb;
	margin:5px;
	background-image:url(pictures/noimage.png);
	background-repeat:no-repeat;
	background-position:center;
}
#portofolio .galerip3 .atas img{
	width:100%;
	height:100%;
}
#portofolio .galerip3 .bawah{
	width:140px;
	height:150px;
	background:#c9c9cb;
	display:inline-block;
	margin:5px;
	background-image:url(pictures/noimage.png);
	background-repeat:no-repeat;
	background-position:center;
}
#portofolio .galerip3 .bawah img{
	width:100%;
	height:100%;
}


/*crew*/
#crew{
	width:100%;
	height:750px;
	float:left;	
}
#crew .crewl{
	width:100%;
	height:650px;
	float:left;
	background:#24bca7;
}
#crew .crewl .boxcrew{
	width:80%;
	height:500px;
	margin:auto;
	margin-top:50px;
	text-align:center;
}
#crew .crewl .boxcrew .boxcrew2{
	width:300px;
	height:490px;
	display:inline-block;
	margin:5px 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#crew .crewl .boxcrew .boxcrew2 .nama{
	width:100%;
	height:90px;
	background:#FFF;
	text-align:center;
	color:#0a1832;
	font-size:18px;
	font-weight:bolder;
	line-height:90px;
	float:left;
}
#crew .crewl .boxcrew .boxcrew2 .pic{
	width:100%;
	height:400px;
	float:left;
	background:#c9c9cb url(pictures/noimage.png);
	background-repeat:no-repeat;
	background-position:center;
}
#crew .crewl .boxcrew .boxcrew2 .pic img{
	width:100%;
	height:400px;
}

/*kontak*/
#kontak{
	width:100%;
	height:750px;
	float:left;	
}
#kontak .form{
	width:50%;
	height:650px;
	float:left;
	background:#efc614;
}
#kontak .form .sekat{
	width:495px;
	height:600px;
	margin:auto;
	margin-top:50px;
}
#kontak .form .sekat .judulk{
	width:100%;
	height:50px;
	font-weight:bolder;
	font-size:28px;
	color:#FFF;
}
#kontak .form .sekat .deskk{
	width:100%;
	height:50px;
	font-weight:bold;
	color:#FFF;
	margin-bottom:10px;
}
#kontak .form .sekat input{
	border-radius:5px;
	border:2px solid #ffd002;
	height:30px;
	width:230px;
	margin-bottom:10px;
	color:#999;
	display:inline-block;
}
#kontak .form .sekat textarea{
	border-radius:5px;
	border:2px solid #ffd002;
	height:200px;
	width:490px;
	margin-bottom:10px;
	color:#999;
	display:inline-block;
}
#kontak .form .sekat input[type=submit]{
	float:right;
	height:40px;
	width:150px;
	color:#FFF;
	background:#10b89e;
	border:none;
	font-weight:bolder;
	font-size:15px;
}
#kontak .form .sekat input[type=submit]:hover{
	cursor:pointer;
	background:#2ed3b9;
}
#kontak .form .sekat .error {
	color:#ec5b5b;
	margin-top:-10px;
}
#kontak .map{
	width:50%;
	height:650px;
	float:left;
	background:#CCC;
}

/*footer*/
#footer{
	height:15%;
	width:100%;
}
#footer .logof{
	float:left;
	width:30%;
	height:100%;
}
#footer .logof img{
	margin-top:5%;
	margin-left:40%;
	width:20%;
	height:10%;
}
#footer .menuf{
	float:left;
	width:70%;
	height:100%;
	line-height:70px;
	background:#03Fl;
}
#footer .menuf ul{
	margin-left:10%;
}
#footer .menuf li{
	list-style-type:none;
	display:inline;
}
#footer .menuf li a{
	text-decoration:none;
	color:#0a1832;
	font-weight:bolder;
	margin-left:2%;
	font-size:90%;
}

/*--- responsive1 ---*/

@media only screen and (max-width:480px){

#layanan .listl .box1 .box2{
	width:99%;
	height:99%;
	margin:1%;
}
#layanan .listl .box1 .box2 .gambar{
	float:none;
}
#layanan .listl .box1 .box2 .jdl{
	font-size:1em;
}
#layanan .listl .box1 .box2 .desk{
	font-size:12px;
	margin-top:0px;
	height:30px;
	}
#layanan .listl .box1 .box2 .desk h1{
	font-size:20px;
}
#layanan .listl .box1 .box2 .pencet{
	margin-bottom:25px;
	height:30px;
}
}